<div class="text-center border p-4 pb-4 ms-lg-4">
    <div class="mb-2 mt-2">
        <%= profile_picture @agent %>
    </div>    
    <h3 class="h4 m-0" ><%= @agent.full_name %></h3>
    <p><%= @agent.company %></p>
    <div class="d-grid gap-2 mb-4">                
        <button class="btn btn-primary text-uppercase" id="showPhone" data_phone="<%= @agent.phone %>">
            <i class="fas fa-phone me-2"></i>
            <span>Call</span>
        </button>
    </div>
    <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-info text-uppercase" %>
    <%= link_to "Email", profile_path(@agent.id), class: "btn btn-success text-uppercase" %>
</div>