<%= form_with(model: property) do |form| %>  
  
  <%= render "layouts/nav/validation", item: @property%>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :address %> 
    <%= form.text_field :address, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Total Price(sale)/Monthly Price(rental)" %>
    <%= form.number_field :price, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :rooms %>
    <%= form.number_field :rooms,class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :parking_spaces %>
    <%= form.number_field :parking_spaces, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :for_sale %>
    <%= form.select :for_sale, options_for_select({ "Yes" => true, "No" => false }, @property.for_sale), class: "form-select"   %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo, class: "form-control form-control-sm" %>
    <%= form.hidden_field :photo_cache%>

    <% if @property.photo.present? %>
      <%= image_tag @property.photo.thumb.url, class: "mt-4" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit "Save Property", class: "btn btn-success" %>
    <%= link_to 'Cancel', properties_path, class: "btn btn-warning"  %>
  </div>
<% end %>
