<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">New message for <%= @agent.full_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_tag email_agent_path, id: "email_agent" do%>
          <%= hidden_field_tag :agent_id, @agent.id %>
          <div class="mb-3">
            <label for="first_name" class="col-form-label">First Name:</label>
            <%= text_field_tag :first_name, nil, class: "form-control", id: "message-first-name" %>
          </div>
          <div class="mb-3">
            <label for="lst_name" class="col-form-label">Last Name:</label>
            <%= text_field_tag :last_name, nil, class: "form-control", id: "message-last-name" %>
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <%= text_field_tag :email, nil, class: "form-control", id: "message-email" %>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>        
        <% end %>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="send-email">Send message</button>
      </div>
    </div>
  </div></div>