<div class="property-main-photo" style="background-image:url(<%= property_photo_url @property %>)">
  
</div>
<div class="container mt-3">
  <div class="row">
    <div class=col-8>
      <div class="row">
        <div class="col-6">
          <p class="mb-0"><%= @property.address %><p>
          <p class="h2"> <%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale" %> </p>
        </div>
        <div class="col-6 text-center">
          <div class="row mr-4  bg-light p-3">
            <div class="col-4">
              <p class="m-0"><strong> Rooms </strong></p>
              <span class="lead"> <%= @property.rooms %> </span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong> Bathrooms </strong></p>
              <span class="lead"> <%= @property.bathrooms %> </span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong> Parking </strong></p>
              <span class="lead"> <%= @property.parking_spaces %> </span>
            </div>
          </div>          
        </div>
      </div>
      <div class="row border-top border-bottom mt-5 mb-5 pt-4 pb-4">
        <div class="col-6 text-start">
          <strong><%= link_to "Est. Monthly repayments of #{number_to_currency((@property.price / 360), precision: 0) }", "#", class: "text-success" %></strong> 
        </div>
        <div class="col-6 text-end">
          <strong><%= link_to "Can I afford this property?", "#", class: "text-success" %></strong>
        </div>
      </div>    
      <div class="row">
        <div class="col">
          <p class="h3"><%= @property.name %></p>
          <p class="h5">Property Description</p>
          <div id="prop-details">
            <%= simple_format @property.details%>
          </div>

          <button id="toggleDetails" class="btn btn-success btn-sm mt-3">Show Details</button>

          <p class="mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>    
        </div>        
      </div>      
    </div>
    <div class="col-4">
        <%= render "properties/agent_details" %>
    </div>
  </div>
</div>

