<!DOCTYPE html>
<html>
  <head>
    <title>RailsEstate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="<%= controller.controller_name%>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
    <% if @show_sidebar.nil? %>
      <header>
        <%= render "layouts/nav/public" %>
      </header>
      <main>
        <div class="container py-4">
          <%= yield %>
        </div>        
      </main>
      
    <% else %>
      <%= render "layouts/nav/dashboard" %>

        <div class="container-fluid">
          <div class="row">
              <%= render "layouts/nav/sidebar"%>
              <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%= yield %>
              </main>
          </div>
        </div>
    <% end %>            

    <%= render "layouts/nav/footer" %>

    <div><p id="notifications"><%= notice %></p></div>
    
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
